.container{
    height: 1000px;
}
.app{
    width: 100%;
    height: 100%;
    min-height: 900px;
    background-image: url("death_star.jpeg");
    color:rgb(230,230,230);
    text-align: center;
}
.mainInfo{
    margin-top:50px;
    width: 100%;
    height: 100%;
    display:block;
    text-align:center;
}
.mainInfoInner{
    background-color: rgba(100, 100, 100, 0.5);
    display:block;
    overflow:auto;
    margin-left: 25%;
    width:50%;
}
.character-list{
    margin-top: 60px;
    width: 50%;
    display: block;
    overflow: auto;
    margin-left: 25%;
}
.character-list-item{
    background-color:rgba(0,0,0,0.8);
}
.page-selector{
    color: black;
    width: 100%;
}
.search-button{
    color: darkgray;
}
.pgRight{
    float:left;
}
.container{
    height: 600px;
}

.applyFiltersButton{
    color: darkgray;
}
.filtro{
    color: black;
    background-color: rgba(100, 100, 100, 0.8);
    width: 200px;
    height: 50px;
}